́́́*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: whitesmoke;
    font-size: 15px;
    font-family: "Times New Roman";
    line-height: 1.5;
    background-color: #fafafa;
    font-weight: 400;
    text-align: left;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
image{
    max-width: 100%;

}
.section{
    float: left;
//cănleef
width: 100%;
}
.container{
    float: none;
    width: 1200px;
    margin: 0 auto;
}
.menu li{
    float: left;
    margin-right: 20px;
}